# 🔐 Environment
.env

# 🐍 Django
__pycache__/
*.py[cod]
db.sqlite3
Django_Backend/fitza/backup.json


# 📦 React / Node
node_modules/
build/
dist/

# 🛠️ Virtualenv (Python)
venv/

# 💻 Editor / OS junk
.vscode/
.DS_Store
Thumbs.db
"Django_Backend/fitza/backup.json" 
