.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  color: white;
  position: relative;
}

.banner-content {
  max-width: 800px;
  text-align: left;
  padding: 2rem;
  border-radius: 1rem;
  margin-left: -200px;
  background-color: transparent;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner-title {
  font-size: 3.8rem;
  font-weight: bold;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-description {
  font-size: 1.6rem;
  margin: 0;
  line-height: 1.5;
  color: white; /* Soft red */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.banner-offer {
  font-size: 2.1rem;
  font-weight: 600;
  color: #d93838;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.banner-dates {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.shop-now-btn {
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #e3342f;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: fit-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.shop-now-btn:hover {
  background-color: #ff779b;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .banner-container {
    padding: 1rem;
    height: auto;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .banner-content {
    max-width: 100%;
    margin: 0;
    padding: 1.5rem;
    background-color: transparent;
  }

  .left-section {
    align-items: center;
  }

  .banner-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .banner-description {
    font-size: 1.2rem;
    text-align: center;
  }

  .banner-offer {
    font-size: 1.5rem;
    text-align: center;
  }

  .banner-dates {
    align-items: center;
    font-size: 1rem;
  }

  .shop-now-btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
  }
}